content/**/*.pug
!content/privacy-policy.pug
node_modules
dist/**/*.html
dist/**/*.xml
dist/**/*.jpg
dist/**/*.png
dist/**/*.gif
dist/**/*.js
dist/**/*.css
/gulpfile.js
src/pug/core/core-config.pug
src/scss/_custom-styles.scss