node_modules
dist/**/*.html
dist/**/*.xml
dist/**/*.jpg
dist/**/*.png
dist/**/*.gif
dist/**/*.js
dist/**/*.css
content/**/*.pug
gulpfile.js
src/pug/core/core-config.pug
src/scss/custom/_site-specific.scss