extends ../src/pug/template-page.pug

append config
	- pageTitle = "How to Turn Your Account Managers into Selling and Customer Satisfaction Machines"
	- metaDesc = "Traing your account managers to be more proactive, rather than just reactive. Make organizational changes in your company and boost your customer relationships to the next level."

block home-content-1
	p The problem with today's account managers is that they're just too reactive. But in order to be successful , you need to train your AMs to be proactive, too.

	p The key thing to remember here is this: you need a new breed of professionals who will look at your client's business from a holistic perspective.

	p In the end, that's what every customer is craving for – someone outside of their own company who's got the same interest in the client's business. A very rare thing to find, don't you agree?

	h2 You'll Need to Make Organizational Changes

	p In order to create this new breed of a professional, you need to make some core restructuring changes inside of your company. 

	p Don't just relabel account managers into something like "customer success managers" if the reality is not there.

	p The first thing to do is to cut out all the quotas: restructure your billing to remove escalation and renewal quotas completely. That way you'll be sending a message to your customers that you really do care about them, not just their money.

	p The key is to etch customer success into the very being of what your company is.

	h2 Instead of Temporary Value, Your Key Metric Should Become the Customer Lifetime Value

	p You can easily lose a sight of the future if you you become so entangled into chasing temporary gains. Remember, the more time you spend on gaining short wins, the less time you have for creating a stable future for your company.

	p One other thing: short-term gains almost always means you're ignoring buliding relationships with your customers.

	p Don't forget that, when a customer starts trusting you, you'll be able to sell anything to him, and in the long run – he'll be staying with you.

	p It's all about trust in the modern corporate world. There might be someone better than you out there, but what differentiates you is that you really care about the customer.

	p Easier said then done, right?

	h2 What New Skills Are Required for the Job?

	p Here's what the account manager training should focus on – if you want to make them a selling and customer-retaining machine:

	ol
		li Focus on improving their consulting skills: they need to help clients make profitable decisions.
		li In order to do that, they need to specialize into a specific niche or a sub-industry. That way, you'll gain more trust with the customer's company.
		li They should learn all about the ecosystem of the company. By knowing that, they'll be able to maneuver around the whole hierarchy, and they'll know not to overstep the bounds.