extends ../src/pug/template-home.pug

append config
	- pageTitle = "Wanna Make Your Customer Account Management More Strategic?"
	- metaDesc = "See the tips below to increase your CRM's team productivity – and increase your customer's trust."

block home-content-1
	p If your company is just the like most, you're probably making a huge mistake by focusing on every customer account equally.

	p In reality, taking care of your top accounts should be your number one priority.

	p Now, I'm not saying you should ignore smaller clients; I'm saying that you need to implement strategic thinking into how your tackle your top clients first. Then, you can re-tweak your sales and CRM processes for smaller customers too.

	p Here are the top 4 things that I've learned about strategic #[a(href="http://www.commence.com/") customer account management]. Read those carefully, because they'll bring more money to your company in the long-run.

	h2 1. Put the Client Into Focus

	p The first thing you need to do is to deepen your relationships with your top clients. Believe it or not, corporate world can sometimes be boring and exhausting at the same time.

	p Your clients are people too, so why not talk to them about their family life as well? Of course, you don't want to be pushy: show some general interest at what's happening in their life.

	p A little human touch will go a long way in this business.

	h2 2. Make Your Decisions Strategic, not Tactical

	p Never put your eggs into one basket. You wouldn't believe how many companies boil down their strategy just to sales training. Well, sometimes, that's not the best solution.

	p One of the strategic decisions that have worked for me in the past is to focus on contacting only the key stakeholders. Create relationships with those people first, and don't waste your time on lower-level staff.

	p Then, there's this issue of focusing on specific sales opportunities. Don't fragment your overall strategy by replacing it with special tactics for each individual customer.

	p Instead, shift your focus to broader things, such as:

	ol
		li Focusing on improving the overall customer satisfaction
		li Creating and optimizing different means of communicating with your customers
		li Creating teams, instead of ad-hoc gathering teams from a bunch of individuals

	h2 3. Don't Just Focus on Short-Term

	p Stop putting pressure on your sales representatives: they're already stressed out by having to perform all the time.

	p And if they're stressed, they'll likely be focusing only on short-term gains.

	p Strategic thinking sometimes requires you to sacrifice those short-term gains.

	h2 4. Build a Team, Not Just a Bunch of Individuals

	p In the standard sales model – the one that doesn't have any element of real customer account management – you'll often see how individuals and small bands play a leading role in closing those sales.

	p What's the problem with that? Well, the best case scenario is that those ad-hoc teams win some short-term sales, but since they're not together all the time, it's very hard to play a team game. Those guys will have a hard time switching contexts, because they're just not used to playing together.

	p To fix the situation, you need to hire strategic account managers. Those managers will gather persistent sales teams around them, and together, they will execute sales strategies.

	p The best part about it is that they'll need less time to adapt to new situations.
