extends ../src/pug/template-home.pug

append config
	
	- pageTitle = "HOME TITLE"
	- metaDesc = "HOME META DESCRIPTION"

block home-content-1

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ab adipisci iusto, iure laboriosam. Magni sint exercitationem esse eius, qui quidem hic, pariatur, placeat nobis aliquid unde! Labore, accusantium adipisci!

	p Numquam nesciunt optio similique sed dolorem, itaque quis sapiente repellendus aspernatur maiores ad voluptatum ratione illum libero ullam ipsa at, expedita nihil autem aperiam inventore ab nam? Corrupti quaerat, voluptates.

	p Esse quas quis ea, suscipit nemo obcaecati quos vero. Aliquid consectetur obcaecati rerum vel nam soluta molestias inventore quis cupiditate, omnis perferendis aliquam, ratione quos et voluptas quidem fugit? Fuga!

	p Corrupti in eius, eveniet expedita doloribus dolore maxime natus? Ex tempore, quas omnis adipisci quaerat dignissimos pariatur sunt, dolore, magni explicabo at facilis possimus corrupti dolor blanditiis quo eos amet!

	p At ad quasi nihil consequatur sint suscipit debitis atque veniam asperiores incidunt consequuntur ex beatae inventore quae eum hic, provident ratione, laudantium, accusantium quas earum itaque. Vero, cumque, ipsa. Quas.