extends ../src/pug/template-home.pug

append config
	
	- pageTitle = "How to Design a Small Retail Space"
	- metaDesc = "Desigining a small retail space can be hard. Be sure to check out these tips"

block home-content-1

	p Are you unable to manage and organize yourself due to limiting work space? Do you feel like the space you work in is smaller than your expectations? And if so, do you feel the need to reorganize, redesign and revamp for a more workable and relaxed atmosphere? 

	p Well, try out these tips. You will end up with more space, more organization and a more thriving store outline – without having to demolish your whole working area.

	h2 Organize Into Departments 

	p If everything seems to be everywhere in your store and you find yourself having to stumble over some products to get to the others, this should be a wake up call to you as a store owner. 

	p Build pigeon shelves and cabinets. Use #[a(href="http://www.clipstrip.com/product-merchandising/display-hook-systems/metal-slatwall-hooks.html") metal slatwall] shelves. This way you are able to know exactly what is where.

	h2 Arrange 

	p Arranging products according to size, color and shape will definitely give some sense of organization in your store.

	h2 Label 

	p Nothing spells “organized” more than a neatly labeled store. Use different colors and labeling styles if you have to. 

	h2 Get Rid of Dead Stock 

	p Don’t complain about a congested store if you have a mountain of obsolete inventory lying there. You definitely know what is expired or out of season in your store. Make a point to get rid of it and free up some space.

	h2 Are You Over Stocking? 

	p Again, this might be hazardous to your space if you normally bring in too much stock. If your products are not going out as much as they are coming in, it might be high time to limit the inbound inventory and only restock when you are sure your limited space is ready for more stock.

	h2 Let Go 

	p How many employees do you have in your store? Are they proportional to the amount of space and work done? 

	p If not, you might have to let go some of them or move them to other departments within the store if their qualifications allow them to be elsewhere within those divisions. 

	p This, however, should be as a last resort.

	h2 Mirrors 

	p These have always acted as an attractive asset in any space. A mirror will always make your space look better organized and to some extent larger.

	h2 Lighting 

	p Word has it that spaces look a lot bigger and better if there is #[a(href="https://www.entrepreneur.com/article/224308") enough lighting]. Ensure you allow as much natural light as possible in your stores. Make way for bigger windows or doors. 

	p The roofing could also be done in such a way that light is allowed to enter the room and there will definitely be a change.

	h2 Change Paint

	p Small spaces can actually appear seemingly bigger when the right paint is used. Choosing colors that reflect light makes rooms appear bigger. Make sure to also use bright colors instead of gloomy dull colors.
