//- Fixed width content container
#MainContent(
	class=homeContentWidth
)
	.row
		.col-md-12.col-xl-8.col-xl-offset-2
			block home-content-1
			block home-content-2
			block home-content-3
			block home-content-4