//- Page content container
#MainContent(
	class=pageContentWidth
)
	.row
		.col-md-12.col-xl-8.col-xl-offset-2
			h1.m-b-3 #{pageTitle}
			block page-content-1
			block page-content-2
			block page-content-3
			block page-content-4