include core/core-top.pug
include components/navigationBar.pug
include components/pageJumbotron.pug
include components/pageContentContainer.pug
include components/footer.pug
include core/core-bot.pug
