include core/core-top.pug
include components/navigationBar.pug
include components/homeJumbotron.pug
include components/homeContentContainer.pug
include components/footer.pug
include core/core-bot.pug
