extends ../src/pug/template-about.pug

append config

	- pageTitle = "Hi, I'm " + profileName + " " +  profileLastName + ", and I love helping..."
	- metaDesc = "Wanna know what I do and how to contact me?"
	- contactCTA = "Eager to get in touch? Here's my contact info:"

block about-content

	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quas maiores dolores mollitia culpa officiis dolore, quaerat accusantium placeat. Veniam distinctio itaque rem quos iusto laudantium, reprehenderit modi enim at.