extends ../src/pug/template-about.pug

append config

	- pageTitle = profileName + " " +  profileLastName
	- metaDesc = ""
	- contactCTA = ""

block about-content-stacked

	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quas maiores dolores mollitia culpa officiis dolore, quaerat accusantium placeat. Veniam distinctio itaque rem quos iusto laudantium, reprehenderit modi enim at.