//-------------------------------------------------------//
//-                       GLOBAL
//-------------------------------------------------------//

//- Profile variables
- profileName           = ''
- profileLastName       = ''
- profileImage          = '/assets/img/' + profileName + '-' + profileLastName + '-photo.jpg'
- profileEmail          = ''
- profilePhone          = ''
- profileStreetAddress  = ''
- profileCity           = ''
- profileState          = ''
- profileCountry        = ''
- profileZip            = ''

//- Site variables
- htmlLang              = 'en-US'
- siteUrl               = '' //-
- siteTitle             = ''

//- Fonts and icons
- customIcons           = 'https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css'
- customFonts           = '//fonts.googleapis.com/css?family=Roboto|Open+Sans|Chewy'

//- JavaScript
- scriptUrl             = '/assets/scripts/script.js'
- jqueryUrl             = '//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'
- usejQuery             = true


//-------------------------------------------------------//
//-                      COMPONENTS
//-------------------------------------------------------//

//---------- Navigation bar ----------//

- navbarStyle           = 'standard' // - standard, logo-on-top
- navbarWidth           = 'container' //- container, container-fluid
- brandLogo             = '' //- Font Awesome, without fa
- brandName             = '' //- Brand name text

//---------- Jumbotron ----------//

- useHomeJumbotron      = '' //- Use jumbotron?
- jumbotronWidth        = 'container' //- container, container-fluid
- jumbotronHeight       = 'full-height' //- empty, lg-height, full-height
- jumbotronHeroImage    = '/assets/img/...' //- URI to the hero image
- useJumbotronBtn       = '' //- Use button in jumbotron?
- jumbotronBtnText      = '' //- Jumbotron button text
- jumbotronBtnLink      = '#MainContent' //- ID attribute or a full link
- jumbotronBtnColor     = 'btn-'   //- danger, warning, info, primary, success

//---------- Footer container ----------//

- footerWrapperWidth    = 'container' //- container, container-fluid
- footerWidth           = 'container' //- container, container-fluid


//-------------------------------------------------------//
//-               SPECIFIC PAGE CONTAINER
//-------------------------------------------------------//

//---------- Home container ----------//

- homeContentWidth      = 'container' //- container, container-fluid
- homeContent           = 'col-lg-10 col-lg-offset-1' // - Bootstrap cols and offsets

//---------- Page container ----------//

- pageContentWidth      = 'container' //- container, container-fluid
- pageContent           = 'col-lg-10 col-lg-offset-1' // - Bootstrap cols and offsets

//---------- About container ----------//

- aboutContentWidth     = 'container' //- container, container-fluid
- aboutContent          = 'col-lg-10 col-lg-offset-1' // - Bootstrap cols and offsets
- aboutContentContainer = 'photo-left' //- stacked, photo-left
- profilePhotoType      = 'img-rounded' //- empty, img-rounded, img-circle


//-------------------------------------------------------//
//-                  XML PAGES METADATA
//-------------------------------------------------------//

- pubDate = "Mon, 16 May 2016 15:40:00 GMT"

-
	pages = [
		{
			title: "Home",
			desc: "Home of" + siteUrl,
			category: "home",
			url: siteUrl,
			date: pubDate
		},
		{
			title: "",
			desc: "",
			category: "",
			url: "/..",
			date: pubDate
		},
		{
			title: "About",
			desc: "Find out interesting info about this website. Learn more about us.",
			category: "about",
			url: "/about",
			date: pubDate
		},
		{
			title: "Privacy Policy",
			desc: "Be sure to read our privacy policy page before you leave sensitive info ",
			category: "privacy-policy",
			url: "/privacy-policy",
			date: pubDate
		},
	];
