
//-------------------------------------------------------//
//-                       GLOBAL
//-------------------------------------------------------//

//- Profile variables
- profileName           = ''
- profileLastName       = ''
- profileImage          = '/assets/img/...'
- profileEmail          = ''
- profilePhone          = ''
- profileStreetAddress  = ''
- profileCity           = ''
- profileState          = ''
- profileCountry        = ''
- profileZip            = ''

//- Site variables
- htmlLang              = 'en-US'
- siteUrl               = '/'
- siteTitle             = ''
- siteSlogan            = ''

//- Fonts and icons
- customIcons           = '//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
- customFonts           = '//fonts.googleapis.com/css?family=Pacifico'

//- JavaScript
- scriptUrl             = '/assets/scripts/script.js'
- jqueryUrl             = '//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'
- usejQuery             = true

//- Page defaults
- pageTitle             = ''
- metaDesc              = ''


//-------------------------------------------------------//
//-                      COMPONENTS
//-------------------------------------------------------//

//---------- Navigation bar ----------//

- navbarWidth           = '' //- container, container-fluid
- brandLogo             = '' //- Font Awesome, without fa
- brandName             = '' //- Brand name text

//---------- Jumbotron ----------//

- useHomeJumbotron      = '' //- Use jumbotron?
- jumbotronWidth        = '' //- container, container-fluid
- jumbotronHeight       = '' //- empty, lg-height, full-height
- jumbotronHeroImage    = 'assets/img/...' //- URI to the hero image
- useJumbotronBtn       = '' //- Use button in jumbotron?
- jumbotronBtnText      = '' //- Jumbotron button text
- jumbotronBtnLink      = '#MainContent' //- ID attribute or a full link


//-------------------------------------------------------//
//-                 SPECIFIC CONTAINERS
//-------------------------------------------------------//

//---------- Home container ----------//

- homeContentWidth      = '' //- container, container-fluid

//---------- Page container ----------//

- pageContentWidth      = '' //- container, container-fluid

//---------- About page container ----------//

- aboutContentContainer = '' //- stacked, photo-floated-left
- aboutContentWidth     = '' //- container, container-fluid
- profilePhotoType      = '' //- empty, img-rounded, img-circle

//---------- Footer container ----------//

- footer                = '' //- standard


//-------------------------------------------------------//
//-                  XML PAGES METADATA
//-------------------------------------------------------//

- pubDate = "Mon, 16 May 2016 15:40:00 GMT"

-
	pages = [
		{
			title: "Home",
			desc: "Home of" + siteUrl,
			category: "home",
			url: siteUrl,
			date: pubDate
		},
		{
			title: "",
			desc: "",
			category: "",
			url: "/..",
			date: pubDate
		},
		{
			title: "About",
			desc: "Find out interesting info about this website. Learn more about us.",
			category: "about",
			url: "/about",
			date: pubDate
		},
		{
			title: "Privacy Policy",
			desc: "Be sure to read our privacy policy page before you leave sensitive info ",
			category: "privacy-policy",
			url: "/privacy-policy",
			date: pubDate
		},
	];