
//-------------------------------------------------------//
//-                       GLOBAL
//-------------------------------------------------------//

//- Profile variables
- profileName           = ''
- profileLastName       = ''
- profileImage          = '/assets/img/...'
- profileEmail          = ''
- profilePhone          = ''
- profileStreetAddress  = ''
- profileCity           = ''
- profileState          = ''
- profileCountry        = ''
- profileZip            = ''

//- Site variables
- htmlLang              = 'en-US'
- siteUrl               = '/'
- siteTitle             = ''
- siteSlogan            = ''

//- Fonts and icons
- customIcons           = '//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
- customFonts           = '//fonts.googleapis.com/css?family=Pacifico'

//- JavaScript
- scriptUrl             = '/assets/scripts/script.js'
- jqueryUrl             = '//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'
- usejQuery             = true

//- Page defaults
- pageTitle             = ''
- metaDesc              = ''


//-------------------------------------------------------//
//-                      COMPONENTS
//-------------------------------------------------------//

//---------- Navigation bar ----------//

//- container, container-fluid
- navbarWidth           = ''

//- Font Awesome, without fa
- brandLogo             = ''

//- Brand name text
- brandName             = ''

//---------- Jumbotron ----------//

//- Use jumbotron?
- useHomeJumbotron      = ''

//- container, container-fluid
- jumbotronWidth        = ''

//- empty, lg-height, full-height
- jumbotronHeight       = ''

//- URI to the hero image
- jumbotronHeroImage    = ''

//- Use button in jumbotron?
- useJumbotronBtn       = ''

//- Jumbotron button text
- jumbotronBtnText      = ''

//- ID attribute or a full link
- jumbotronBtnLink      = '#MainContent'


//-------------------------------------------------------//
//-                 SPECIFIC CONTAINERS
//-------------------------------------------------------//

//---------- Home container ----------//

//- container, container-fluid
- homeContentWidth      = ''

//---------- Page container ----------//

//- container, container-fluid
- pageContentWidth      = ''

//---------- About page container ----------//

//- container, container-fluid
- aboutContentWidth     = ''

//- empty, img-rounded, img-circle
- profilePhotoType      = ''

//---------- Footer container ----------//

//- standard
- footer                = ''


//-------------------------------------------------------//
//-                  XML PAGES METADATA
//-------------------------------------------------------//

- pubDate = "Mon, 16 May 2016 15:40:00 GMT"

-
	pages = [
		{
			title: "Home",
			desc: "Home of" + siteUrl,
			category: "home-page",
			url: siteUrl,
			date: pubDate
		},
		{
			title: "",
			desc: "",
			category: "",
			url: "/..",
			date: pubDate
		},
		{
			title: "About",
			desc: "Find out interesting info about this website. Learn more about us.",
			category: "about",
			url: "/about",
			date: pubDate
		},
		{
			title: "Privacy Policy",
			desc: "Be sure to read our privacy policy page before you leave sensitive info ",
			category: "privacy-policy",
			url: "/privacy-policy",
			date: pubDate
		},
	];