extends ../src/pug/template-page.pug

append config
	
	- pageTitle = "This is a title"

block page-content-1

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ab adipisci iusto, iure laboriosam. Magni sint exercitationem esse eius, qui quidem hic, pariatur, placeat nobis aliquid unde! Labore, accusantium adipisci!