extends ../src/pug/template-about.pug

append config
	
	- pageTitle = "Hi, I'm "
	- metaDesc = "Wanna know what I do and how to contact me?"
	- contactCTA = "Eager to get in touch? Here's my contact info:"

block about-content

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ab adipisci iusto, iure laboriosam. Magni sint exercitationem esse eius, qui quidem hic, pariatur, placeat nobis aliquid unde! Labore, accusantium adipisci!