
//-------------------------------------------------------//
//-                       GLOBAL
//-------------------------------------------------------//

//- Profile variables
- profileName           = 'John'
- profileLastName       = 'Doe'
- profileImage          = '/assets/img/john-doe.jpg'
- profileEmail          = 'johndoe@gmail.com'
- profilePhone          = '318-847-2730'
- profileStreetAddress  = '4580 Tecumsah Lane'
- profileCity           = 'Sarepta'
- profileState          = 'Louisiana'
- profileCountry        = 'The United States'
- profileZip            = '71071'

//- Site variables
- htmlLang              = 'en-US'
- siteTitle             = 'SITE TITLE: SITE DESCRIPTION'
- siteUrl               = '/'
- siteSlogan            = 'SHORT SLOGAN HERE'

//- Fonts and icons
- customIcons           = '//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
- customFonts           = '//fonts.googleapis.com/css?family=Pacifico'

//- JavaScript
- scriptUrl             = '/assets/scripts/script.js'
- jqueryUrl             = '//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'
- usejQuery             = true

//- Page defaults
- pageTitle             = '--- Main title of the page ---'
- metaDesc              = '--- Meta description of the page ---'


//-------------------------------------------------------//
//-                     COMPONENTS
//-------------------------------------------------------//

//---------- Navigation bar ----------//

//- container, container-fluid
- navbarWidth           = 'container'

//- Inline CSS styles
- navbarStyles          = ''

//- empty, Wrapper--shadow
- navbarShadow          = 'Wrapper--shadow'

//- Font Awesome, without fa
- brandLogo             = 'gitlab'

//- Inline CSS
- brandLogoStyles       = 'color: darkblue; font-size: 50px'

//- Brand name text
- brandName             = 'BRAND NAME'

//- Inline CSS
- brandNameStyles       = 'color: blue; font-size: 30px; font-family: Pacifico'

//---------- Jumbotron ----------//

//- Use jumbotron?
- useHomeJumbotron          = 'yes'
- usePageJumbotron          = 'yes'

//- container, container-fluid
- jumbotronWidth        = 'container'

//- empty, lg-height, full-height
- jumbotronHeight       = ''

//- Bootstrap default colors
- jumbotronBgColor      = 'bg-info'

//- empty, Wrapper--shadow
- jumbotronShadow       = ''

//- URI to the hero image
- jumbotronHeroImage    = ''

//- Use button with jumbotron?
- useJumbotronBtn       = 'no'

//- ID attribute or a full link
- jumbotronBtnLink      = '#MainContent'

//- Jumbotron button text
- jumbotronBtnText      = 'Click here'


//-------------------------------------------------------//
//-                     SPECIFIC CONTAINERS
//-------------------------------------------------------//

//---------- Home container ----------//

//- container, container-fluid
- homeContentWidth      = 'container'

//- empty, Wrapper--shadow
- homeContentShadow     = 'Wrapper--shadow'

//---------- Page container ----------//

//- container, container-fluid
- pageContentWidth      = 'container'

//- empty, Wrapper--shadow
- pageContentShadows    = ''

//---------- About page container ----------//

//- container, container-fluid
- aboutContentWidth      = 'container'

//- empty, Wrapper--shadow
- aboutContentShadows    = 'Wrapper--shadow'

//- empty, img-rounded, img-circle
- profilePhotoType = 'img-rounded'

//---------- Footer container ----------//

//- standard
- footer                = 'standard'


//-------------------------------------------------------//
//-                  XML PAGES METADATA
//-------------------------------------------------------//

- pubDate = "Fri, 6 May 2016 15:40:00 GMT"

-
	pages = [
		{
			title: "HOMEPAGE TITLE",
			shortTitle: "HOME",
			desc: "HOMEPAGE DESCRIPTION",
			category: "HOMEPAGE-CATEGORY",
			url: "/",
			date: "Fri, 6 May 2016 15:35:00 GMT"
		},
		{
			title: "PAGE TITLE",
			shortTitle: "PAGE1",
			desc: "PAGE DESCRIPTION",
			category: "PAGE-CATEGORY",
			url: "/PAGE",
			date: "Fri, 6 May 2016 13:35:00 GMT"
		},
		{
			title: "About",
			shortTitle: "About us",
			desc: "Find out interesting info about this website. Learn more about us.",
			category: "about-page",
			url: "/about",
			date: "Fri, 6 May 2016 13:35:00 GMT"
		},
		{
			title: "Privacy Policy",
			shortTitle: "Privacy Policy",
			desc: "Be sure to read our privacy policy page before you leave sensitive info ",
			category: "privacy-policy-page",
			url: "/privacy-policy",
			date: "Fri, 6 May 2016 13:35:00 GMT"
		},
	];