// Nav items
.nav-item {
	margin-bottom: 0;
}

// Navabr toggler
.navbar-toggler {
	margin-top: 10px !important;
}

// Brand logo
.BrandLogo {
	padding-right: 10px;
}

// Navbar fix
@media( max-width:62em ) {
	.navbar .navbar-nav>.nav-item {
		float: none;
		margin-left: .1rem;
	}

	.navbar .navbar-nav {
		float:none !important;
	}

	.navbar .collapse.in, .navbar .collapsing  {
		clear:both;
	}

	.nav-item {
		border-bottom: 1px solid #ccc;

		&:last-of-type {
			border-bottom: 0;
		}
	}
}

// Nav items
@media( min-width:62em ) {
	.nav-item {
		margin-right: 1.5rem;
	}
}
	