
//-------------------------------------------------------//
//-                       GLOBAL
//-------------------------------------------------------//

//- Site variables
- htmlLang              = 'en-US'
- siteTitle             = ''
- siteUrl               = ''

//- Styles
- styleUrl              = '/assets/styles/style.css'
- customIcons           = '//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
- customFonts           = ''

//- JavaScript
- scriptUrl             = '/assets/scripts/script.js'
- jqueryUrl             = '//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'
- usejQuery             = true

//- Page variables
- pageTitle             = ''
- metaDesc              = ''


//-------------------------------------------------------//
//-                     COMPONENTS
//-------------------------------------------------------//

//----------- Navigation bar ----------//

//- Width: container, container-fluid
- navbarWidth           = 'container' 

//- Logo: enter the logo URI
- brandLogo             = '/assets/img/florida-forecast-logo.png'

//- Slogan: enter the brand slogan
- brandSlogan           = 'Forecasting the best customer relationships between you and your customers'

//---------- Jumbotron ----------//

//- Width: container, container-fluid
- jumbotronWidth        = 'container-fluid'

//- Height: NONE, jumbotron--lg-height, jumbotron--full-height
- jumbotronHeight       = 'jumbotron--lg-height'

//- Colors: bg-primary, bg-secondary
- jumbotronBgColor      = 'bg-primary'

//- Enter the hero image URI
- jumbotronHeroImage    = '/assets/img/crm-hero.jpg'

//- Home content container
- homeContentContainer  = 'container'

//- Page content container
- pageContentContainer  = 'container'    

//- Footer
- footer                = 'standard'


//-------------------------------------------------------//
//-                  XML PAGES METADATA
//-------------------------------------------------------//

- pubDate = "Fri, 6 May 2016 15:40:00 GMT"

-
	pages = [
		{
			title: "Wanna Make Your Customer Account Management More Strategic?",
			shortTitle: "Home",
			desc: "See the tips below to increase your CRM's team productivity – and increase your customer's trust.",
			category: "default",
			url: "/",
			date: "Fri, 6 May 2016 15:35:00 GMT"
		},
		{
			title: "How to Turn Your Account Managers into Selling and Customer Satisfaction Machines",
			shortTitle: "Account Manager Training",
			desc: "Traing your account managers to be more proactive, rather than just reactive. Make organizational changes in your company and boost your customer relationships to the next level.",
			category: "default",
			url: "/account-manager-training",
			date: "Fri, 6 May 2016 13:35:00 GMT"
		},
	];